<form class="create-comment-form">
  <label for="comment-author" class="comment-author-field">
    <span>Type in your name: </span>
    <input
      type="text"
      id="comment-author"
      name="comment-author"
      required
      maxlength="40"
    />
  </label>
  <label for="comment-content" class="comment-content-field">
    <span>Tell everyone your opinion: </span>
    <textarea name="comment-content" id="comment-content" required></textarea>
  </label>
  <button type="submit" class="submit-button">Post</button>
</form>
