<form
  class="create-post-form"
  (submit)="handleSubmit()"
  ngNativeValidate
  *ngIf="userHasJWT; else elseTemplate"
>
  <label for="post-title" class="post-title-field">
    <span>What is your post about? </span>
    <input
      [(ngModel)]="title"
      type="text"
      id="post-title"
      name="post-title"
      required
      maxlength="250"
    />
  </label>
  <label for="post-author" class="post-author-field">
    <span>Type in your name: </span>
    <input
      [(ngModel)]="author"
      type="text"
      id="post-author"
      name="post-author"
      required
      maxlength="40"
    />
  </label>
  <label for="post-content" class="post-content-field">
    <span>Tell everyone a bit more about your idea: </span>
    <textarea
      name="post-content"
      id="post-content"
      required
      [(ngModel)]="content"
    ></textarea>
  </label>
  <button type="submit" class="submit-button" [disabled]="pending">
    {{ pending ? "Loading..." : "Post" }}
  </button>
</form>
<ng-template #elseTemplate>
  <section class="denied-write-access">
    <p>You have read permission only.</p>
  </section>
</ng-template>
