<article class="post">
  <h3 class="post-title">Post title</h3>
  <span class="post-author">Author</span>
  <span class="post-date">Posted On {{ date | date: "MMM d, y, h:mm a" }}</span>
  <p class="post-content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa atque
    consequatur non enim molestiae recusandae obcaecati possimus voluptatibus,
    rem unde perspiciatis soluta cumque excepturi ad animi quod? Doloremque,
    error animi. Voluptates eius dicta eos, blanditiis aliquam unde hic
    accusamus repellendus tempore alias facere.
  </p>
  <section class="comments">
    <app-comment-form></app-comment-form>
  </section>
</article>
