<form class="create-comment-form" (submit)="handleSubmit()">
  <label for="comment-author" class="comment-author-field">
    <span>Type in your name: </span>
    <input
      [(ngModel)]="author"
      type="text"
      id="comment-author"
      name="comment-author"
      required
      maxlength="40"
    />
  </label>
  <label for="comment-content" class="comment-content-field">
    <span>Tell everyone your opinion on this post: </span>
    <textarea
      [(ngModel)]="content"
      name="comment-content"
      id="comment-content"
      required
    ></textarea>
  </label>
  <button type="submit" class="submit-button">Post</button>
</form>
