:host {
  width: 100%;
}

.create-comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 15px;
  border-radius: 5px;
}

[class$="-field"] {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.4rem;
}

[class$="-field"] > input,
[class$="-field"] > textarea {
  width: 100%;
  height: 35px;
  padding: 4px 8px;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
}

[class$="-field"] > textarea {
  resize: none;
  height: 60px;
}

[class$="-field"] > input:focus-within,
[class$="-field"] > textarea:focus-within {
  outline: 2px solid blue;
}

.submit-button {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 5px;
  background-color: rgb(76, 76, 243);
  cursor: pointer;
  transition: scale 0.2s;
}

.submit-button:hover {
  scale: 1.01;
}
